* {
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #fff;
  background: linear-gradient(
    243.18deg,
    #9e9a9a 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.wrap {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.book-container {
  transform: translateY(40px) scale(0.75);
}

.book {
  width: 500px;
  height: 700px;
  display: block;
  cursor: pointer;
  filter: drop-shadow(0px 30px 10px rgba(0, 0, 0, 0.25));
  transition: all 0.35s ease-in;
}

.book:hover {
  transform: translateY(-20px);
  filter: drop-shadow(0px 40px 20px rgba(0, 0, 0, 0.25));
}

.front-cover {
  position: absolute;
  width: 441.88px;
  height: 578.48px;
  left: 9.62px;
  top: 52.38px;
  background: #a71111;
  border-radius: 0px 4px 4px 0px;
  transform: matrix(1, 0.14, -0.02, 0.99, 0, 0);
}

.front-1 {
  position: absolute;
  width: 54.32px;
  height: 578px;
  background: rgba(154, 11, 11, 0.6);
  /* transform: matrix(1, 0.14, -0.02, 0.99, 0, 0); */
}

.front-2 {
  position: absolute;
  width: 54.32px;
  height: 578px;
  left: 53px;
  background: rgba(154, 11, 11, 0.4);
}

.right-plane {
  position: absolute;
  width: 71.47px;
  height: 700px;
  left: 451px;
  top: -12px;
  background: #ffffff;
  transform: matrix(1, -0.95, -0.01, 0.82, 0, 0);
}

.right-shadow {
  position: absolute;
  width: 71.47px;
  height: 519.6px;
  left: 453px;
  top: -9.4px;
  background: rgba(197, 197, 197, 0.4);
  transform: matrix(1, -0.95, -0.01, 0.82, 0, 0);
}

.top-plane {
  position: absolute;
  width: 545px;
  height: 72.12px;
  left: -0.9px;
  top: -15px;

  background: #ffffff;
  transform: matrix(0.81, 0.12, -0.98, 0.98, 0, 0);
  /* transform: matrix(0.81, 0.12, -0.98, 0.98, 0, 0); */
}
.book-title {
  font-family: 'La Belle Aurore', cursive;
  position: absolute;
  top: 80px;
  left: 75px;
  color: #ffffff90;
  font-size: 70px;
}

.book-title::after {
  content: 'yeonjinLee';
  font-family: 'La Belle Aurore', cursive;
  position: relative;
  top: -133px;
  display: inline-block;
}

.top-1 {
  position: absolute;
  width: 545px;
  height: 13.75px;
  background: #f8f8f8;
}

.top-2 {
  position: absolute;
  width: 545px;
  height: 13.75px;
  top: 19px;
  background: #f8f8f8;
}

.top-3 {
  position: absolute;
  width: 545px;
  height: 13.75px;
  top: 38px;
  background: #f8f8f8;
}

.top-4 {
  position: absolute;
  width: 545px;
  height: 13.75px;
  top: 57px;
  background: #f8f8f8;
}

.right-1 {
  position: absolute;
  width: 13.75px;
  height: 700px;
  background: #f8f8f8;
}
.right-2 {
  position: absolute;
  width: 13.75px;
  height: 700px;
  left: 20px;
  background: #f8f8f8;
}
.right-3 {
  position: absolute;
  width: 13.75px;
  height: 700px;
  left: 39px;
  background: #f8f8f8;
}
.right-4 {
  position: absolute;
  width: 13.75px;
  height: 700px;
  left: 58px;
  background: #f8f8f8;
}

/* buttons */

.left-button {
  cursor: pointer;
  margin-left: 30px;
}

.right-button {
  cursor: pointer;
  margin-right: 30px;
}

.left-button:hover,
.right-button:hover {
  border-right-color: #9e9a9a;
  border-left-color: #9e9a9a;
}
